{% extends "base.html" %}

<!-- load bootstrap form style -->
{% load bootstrap %}

{% block content %}

<form method="GET">
    {{ filter.form|bootstrap }}
    <button type="submit" class="btn btn-primary">Cerca</button>
</form>

{% for object in filter.qs %}
    <a href="{{ object.get_absolute_url }}"><h1>{{ object.name }}</h1></a>
    <p>{{ object.type }} - {{ object.difficulty }}</p>
    <!-- TODO modificare con BASE_DIR -->
    <img class="img-responsive" src="http://localhost:8000/images/{{ object.image }}"/>
    <p>{{ object.description|truncatewords_html:50 }}</p>
{% endfor %}

<div>
    <nav aria-label="...">
        <ul class="pager">
            {% if page_obj.has_previous %}
            <li><a href="?page=1">&laquo; first</a></li>
            <li><a href="?page={{ page_obj.previous_page_number }}">previous</a></li>
            {% endif %}

            <li><span class="current">
            Pagina {{ page_obj.number }} di {{ page_obj.paginator.num_pages }}
            </span></li>

            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">next</a></li>
            <li><a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
</div>

{% endblock content %}